/*
색상
*/
$black-color: #3d3b40;
$cloudy-black-color: #3d3b40;
$white-color: white;
$cloudy-gray: #c0c0c0;
$orange-color: #ff8000;

$heading1-size: 2rem;
$heading2-size: 1.5rem;
$heading3-size: 1.17rem;
$heading4-size: 1rem;
$heading5-size: 0.83rem;
$heading6-size: 0.67rem;
$paragraph-size: 0.875rem; // 문단 크기

.swiper-pagination {
  display: flex;
  align-items: center;
  width: 70px !important;
  padding: 0.4rem;
  left: 50% !important;
  right: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 20px;
  background-color: white;
  opacity: 0.5;
}

h1 {
  font-size: $heading1-size;
}

h2 {
  font-size: $heading2-size;
}

h3 {
  font-size: $heading3-size;
}

h4 {
  font-size: $heading4-size;
}

h5 {
  font-size: $heading5-size;
}

h6 {
  font-size: $heading6-size;
}

p {
  font-size: $paragraph-size;
}

.m-1 {
  margin: 1rem 0;
}
.mb-1 {
  margin-bottom: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

#app {
  position: relative;
  width: 100%;
  // max-width: 460px;
  max-width: 40rem;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}
html,
body {
  height: 100%;
  font-family: sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
li {
  list-style: none;
}

body {
  color: $black-color;
}
