@charset "UTF-8";
/*
색상
*/
.swiper-pagination {
  display: flex;
  align-items: center;
  width: 70px !important;
  padding: 0.4rem;
  left: 50% !important;
  right: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 20px;
  background-color: white;
  opacity: 0.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

p {
  font-size: 0.875rem;
}

.m-1 {
  margin: 1rem 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

#app {
  position: relative;
  width: 100%;
}

.swiper-pagination {
  bottom: 20px !important;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li {
  list-style: none;
}

strong {
  font-weight: bold;
}

body {
  color: #3d3b40;
}
